@font-face {
  font-family: 'UTMAmericana';
  src: url('./fonts/UTMAmericana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iCielGrandma';
  src: url('./fonts/iCielGrandma.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SVN-Gotham';
  src: url('./fonts/SVN-Gotham Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DMSans';
  src: url('./fonts/DMSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

